/* app.css */
#root {
  max-width: 1280px; /* Ajustar se necessário para garantir que o conteúdo não exceda */
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box; /* Incluir padding e borda na largura total */
}

/* Estilo para a Navbar */
nav {
  background-color: #333; /* Ajustar a cor de fundo conforme necessário */
  color: white;
  padding: 1rem;
  width: 100%; /* Garante que a Navbar ocupe toda a largura da tela */
  box-sizing: border-box; /* Inclui padding na largura total */
  position: fixed; /* Mantém a Navbar no topo ao rolar */
  top: 0;
  left: 0;
  z-index: 1000; /* Garante que a Navbar fique acima de outros conteúdos */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}
